<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.applemusicbackup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/Alex/Documents/Coding/Applications/apple_music_library_copy/run_backup.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/Alex/Library/Logs/applemusicbackup.err</string>
    <key>StandardOutPath</key>
    <string>/Users/Alex/Library/Logs/applemusicbackup.out</string>
    <key>WorkingDirectory</key>
    <string>/Users/Alex/Documents/Coding/Applications/apple_music_library_copy</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/Alex/.pyenv/versions/3.10.17/bin:/Users/Alex/.pyenv/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PYENV_ROOT</key>
        <string>/Users/Alex/.pyenv</string>
        <key>SHELL</key>
        <string>/bin/zsh</string>
        <key>HOME</key>
        <string>/Users/Alex</string>
        <key>USER</key>
        <string>Alex</string>
    </dict>
</dict>
</plist>
